<div class="this-pc__container">
  <img
    src="/assets/images/documents-icon.png"
    alt="This Pc icon"
    class="this-pc"
  />
  <p class="this-pc__letter">Ali Ijaz</p>
</div>

<div class="this-pc__container" (click)="getHomePage()">
  <img
    src="/assets/images/this-pc-icon.webp"
    alt="This Pc icon"
    class="this-pc"
  />
  <p class="this-pc__letter">This PC</p>
</div>

<div class="this-pc__container">
  <img
    src="/assets/images/control-panel-icon.png"
    alt="This Pc icon"
    class="this-pc"
  />
  <p class="this-pc__letter">Control<br />Panel</p>
</div>

<div class="this-pc__container">
  <img
    src="/assets/images/recycle-bin-icon.png"
    alt="This Pc icon"
    class="this-pc"
  />
  <p class="this-pc__letter">Recycle<br />Bin</p>
</div>

<div class="this-pc__container">
  <img
    src="/assets/images/network-icon.png"
    alt="This Pc icon"
    class="this-pc"
  />
  <p class="this-pc__letter">Network</p>
</div>
