<router-outlet></router-outlet>
<footer>
  <div class="footer-container">
    <div>
      <img
        src="/assets/images/windows-7-icon.png"
        alt="Windows 7 Icon"
        class="windows-7-icon"
      />
    </div>
    <div style="display: flex">
      <div class="time-show">
        <p style="text-align: center; font-size: 0.9rem">
          {{ this.now | date : "hh:mm a" }}
        </p>
        <p style="text-align: center; font-size: 0.9rem; margin-top: 4px">
          {{ this.now | date : "dd/MM/YYYY" }}
        </p>
      </div>
      <div class="desktop-shortcut__btn"></div>
    </div>
  </div>
</footer>
