<section class="local-disk__container">
  <nav class="local-disks">
    <div class="local-disk">
      <a routerLink="/this-pc-disk/local-disk-c">
        <img
          src="/assets/images/local-disk-c.png"
          alt="Local Disk C"
          class="local-disk-image"
        />
      </a>
      <div>
        <p>Local Disk C</p>
        <div class="disk-c-box"></div>
        <p style="font-size: 0.8rem">30.1 GB free of 30.1 GB</p>
      </div>
    </div>
    <div class="local-disk disk-d">
      <a routerLink="/this-pc-disk/local-disk-d">
        <img
          src="/assets/images/local-disk-d.png"
          alt="Local Disk D"
          class="local-disk-image"
        />
      </a>
      <div>
        <p>Local Disk D</p>
        <div class="disk-d-box"></div>
        <p style="font-size: 0.8rem">121 GB free of 121 GB</p>
      </div>
    </div>
  </nav>
</section>
